[Unit]
Description=Cilantropy Python Package Manager
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/home/cilantropy
Environment=PYTHONPATH=/home/cilantropy/venv/bin
ExecStart=/home/cilantropy/venv/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target